<ion-header translucent>
  <ion-toolbar>
    <ion-item>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><b>Mapa de contagiados</b></ion-title>
      <ion-button style="float: right;" end icon-only (click)="putOnMyLocation()" color="light">
        <ion-icon name="md-locate"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-item-divider>
        <ion-label>Contagiados: </ion-label> <ion-label style="color: red">{{getInfectedCount()}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label>Recuperados: </ion-label> <ion-label style="color: dodgerblue">{{getRecuperatedCount()}}</ion-label>
      </ion-item-divider>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="width:100%; height:100%;">
  </div>
</ion-content>