// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


/** Ionic CSS Variables **/
:root {

  --deco-background-primary: #ffffff;
  --deco-background-secondary: #fafafa;
  --deco-background-dark: #1b1e28;
  --deco-background-dark-basic: #AAB2B7;

  --deco-color-primary: #fff;
  --deco-color-secondary: #fafafa;
  --deco-color-danger: #cf3c99;
  --deco-color-dark: #7F7E96;

  --deco-icon-color: #CCCBDA;

  /* Settings Fonts Size And Icon Size
=======================================================
=======================================================*/
  --fallback-color: red;
  --h1-font-size: 20px;
  --h2-font-size: 18px;
  --h3-font-size: 16px;
  --h4-font-size: 15px;
  --h5-font-size: 14px;
  --h6-font-size: 12px;
  --text-font-size: 14px;

  /* Settings Fonts Size Icon
=======================================================
=======================================================*/

  --icon-size-small: 20px;
  --icon--size-medium: 32px;
  --icon-size-large: 60px;

  /* Settings Font Span
=======================================================
=======================================================*/

  --span-size-small: 12px;
  --span-size-medium: 24px;
  --span-size-large: 30px;

  /* SETTINGS CHECKBOX
=======================================================
=======================================================*/
  ion-checkbox {
    --border-color-checked: #1b1e28;
    --border-color: #1b1e28;
    --background-checked: #fff;
    --checkmark-color: #1b1e28;
  }
}


/* INCLUDE FONTS AND COLOR CHANGE
=======================================================
=======================================================*/
@import 'themes-color/light-theme', 'themes-color/dark-theme';
@import "fontello";
@import "rtl";


/* SETTINGS TOOLBAR
=======================================================
=======================================================*/
.header-md:after,
.footer-md:before {
  background-image: none !important;
}

/* SETTINGS TEXT COLOR
=======================================================
=======================================================*/
.text-color-primary {
  color: var(--deco-background-dark, #1b1e28);
}

/* SETTINGS FONT SIZE
=======================================================
=======================================================*/
.text-size-xl {
  font-size: var(--h1-font-size, 20px) !important;
}

.text-size-lg {
  font-size: var(--h2-font-size, 18px) !important;
}

.text-size-md {
  font-size: var(--h3-font-size, 16px) !important;
}

.text-size-xs {
  font-size: var(--h4-font-size, 14px) !important;
}

.text-size-xxs {
  font-size: var(--h4-font-size, 17.3px) !important;
}

.text-size-sm {
  font-size: var(--h5-font-size, 15px) !important;
}

.text-size-p {
  font-size: var(--text-font-size, 14px) !important;
}

.text-nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
}

page-home {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 5px !important;

    .swiper-pagination-bullet-active {
      --bullet-background: var(--deco-background-dark, #1b1e28) !important;
      background: var(--bullet-background);

    }
  }
}

news-wizard {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 60px !important;

    .swiper-pagination-bullet-active {
      --bullet-background: #fff !important;
      background: #fff;

    }
  }
}

/* SETTINGS TAGS SINGLE PAGE
=======================================================
=======================================================*/
.tag {
  color: #3980FF;
}


/* SETTINGS BUTTON
=======================================================
=======================================================*/
.default-button {
  --padding-top: 20px;
  --color-activated: var(--deco-color-secondary, #fafafa);
  --padding-bottom: 20px;
  --background: var(--deco-background-dark, #1b1e28);
  --color: var(--deco-color-secondary, #fafafa);
  --background-hover: var(--deco-background-dark, #1b1e28);
  --ripple-color: transparent;
  border-radius: 4px;
  overflow: hidden;
  min-height: 45px;
  text-transform: inherit;
}

.button-title{
  color: var(--deco-background-dark-basic, #AAB2B7);
  --color-activated: var(--deco-background-dark-basic, #AAB2B7);
  font-weight: 400;
  font-size: var(--h4-font-size, 14px);
  text-transform: capitalize;
}


/* SETTINGS CATEGORY
=======================================================
=======================================================*/
.category {
  position: absolute;
  top: 16px;
  z-index: 999;
  left: 16px;
  border-radius: 4px;
  background: var(--deco-color-danger, #cf3c99);
  padding: 6px;
  text-transform: uppercase;
  font-size: 10px;
  color: var(--deco-color-primary, #fff);
}

/* SETTINGS COLOR BACKGROUND OUR APP
=======================================================
=======================================================*/
ion-content{
  --background: var(--deco-color-secondary, #ffffff);
}

ion-refresher,
page-recent-news {
  background: var(--deco-color-secondary, #ffffff);
}

.refresher-refreshing .refresher-refreshing-icon ion-icon,
.refresher-refreshing .refresher-refreshing-text,
.refresher-pulling .refresher-pulling-icon ion-icon,
.refresher-pulling .refresher-pulling-text,
.refresher-refreshing-icon ion-spinner {
  color: var(--deco-background-dark, #1b1e28) !important;
}


ion-list {
  padding-top: 0 !important;
}

ion-item {
  --background: var(--deco-background-primary, #ffffff);
}

ion-toolbar {
  --background: var(--deco-background-primary, #ffffff);
  --color: var(--deco-background-dark-basic, #AAB2B7);

  ion-title {
    --color: var(--deco-background-dark, #1b1e28);
    font-size: 16px;
  }

  ion-menu-button,
  ion-back-button {
    --color: var(--deco-background-dark, #1b1e28) !important;
  }
}



/* SETTINGS SEGMENT
=======================================================
=======================================================*/
ion-segment-button {
  --background: var(--deco-background-primary, #ffffff);
  --background-checked: transparent;
  --background-hover: transparent;
  --color-checked: var(--deco-background-dark, #1b1e28);
  --color-activated: var(--deco-background-dark, #1b1e28);
  --color: var(--deco-background-dark-basic, #7F7E96);
  --indicator-color: var(--deco-color-secondary, #fafafa);
  --indicator-color-checked: #CCCBDA;
  --border-width: 0px;
  font-weight: bold;
}


ion-toolbar .sc-ion-segment-ios-h.sc-ion-segment-ios-s>ion-segment-button {
  max-width: unset !important;
  min-width: 100px !important;
  padding: 0 5px;
}

/* SETTINGS COLOR AND SIZE ICON
=======================================================
=======================================================*/
.icon-small {
  color: var(--deco-icon-color, #CCCBDA);
  font-size: var(--icon-size-small, 20px);
}



/* Image
=======================================================
=======================================================*/

img {
  object-fit: cover;
}

/* Settings bookmark
=======================================================
=======================================================*/
.bookMark {
  ion-icon {
    &.active {
      color: var(--deco-color-danger, #cf3c99) !important;
    }
  }
}

/* Default Overview Ionic Section
=======================================================
=======================================================*/
.background-size {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.border-radius {
  border-radius: 4px;
}

.font-bold {
  font-weight: bold !important;
}


.no-box-shadow {
  box-shadow: none !important;
}

.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
  z-index: 999;
}

.transparent {
  --background: transparent;
}

.clearfix {
  display: block;
  clear: both;
}


/* Settings all icon in news app
=======================================================
=======================================================*/
// Bookmark
.bookMark {
  background-image: url(../assets/icon/bookmark.png);
  background-repeat: no-repeat;
  background-position: center;
  // width: 13px;
  // height: 20px;
  // z-index: 99;
  // top: 5px;
  // right: 16px;

  &.active {
    background-image: url(../assets/icon/bookmark-active.png);
  }
}

.bookMark-dark {
  background-image: url(../assets/icon/bookmark-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  // z-index: 99;
  // top: 5px;
  // right: 16px;

  &.active {
    background-image: url(../assets/icon/bookmark-active.png);
  }
}

// Time
.time-icon {
  background-image: url(../assets/icon/time.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
}

.time {
  display: flex !important;
  align-items: center;

  p {
    margin: 0 5px 0 5px;
  }
}


// Time
.comment-icon {
  background-image: url(../assets/icon/comments.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 19px;
  display: block;
}

//Share icon

.share-icon {
  background-image: url(../assets/icon/share-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
} 



.search {
  position: absolute;
  right: 10px;
  top: 5px;

  .search-icon {
    background-image: url(../assets/icon/search.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 19px;
  
  }
}

.skeleton {
  width: 100%;

  ion-list {  
    background-color: transparent;
  }

}


.ion-hide {
  display: none;
}

.ion-visible {
  display: block;
}







