<ion-content class="container-login100"
[ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
    <ion-card class="ion-margin-top" style="background-color: #f7f7f7eb;">
      <div class="login-container">
        <div style="text-align: center; margin-top: 10px;">
          <ion-avatar class="text-center" style="width: 50%; height: 50%; margin: auto;">
            <img src="/assets/imgs/logo.png" />
          </ion-avatar>
          <h2 style="font-weight: bold;">
            Vamos Juntos RD
          </h2>
        </div>
    
        <div style="text-align: center;" class="ion-padding">
          <form [formGroup]="loginForm" (submit)="authUser()" novalidate>

            <ion-item>
              <ion-label position="floating">Correo electrónico</ion-label>
              <ion-input tappable formControlName="email" type="text" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
            </ion-item>
            <div *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty" class="validation-errors">
              <ng-container>
                <div style="color: #f04141de;" class="error-message">
                  Un correo válido es requerido
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input tappable formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
            </ion-item>
            <div *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty" class="validation-errors">
              <ng-container>
                <div style="color: #f04141de;" class="error-message">
                  La contraseña es requerida
                </div>
              </ng-container>
            </div>
          </form>
        </div>
        <div style="text-align: center;" class="ion-padding">
          <ion-button class="login" [disabled]="loginForm.invalid" size="large" style="color: #fff; background-color: #332465;"
           (click)="authUser()" expand="block" color="default">
            <ion-icon style="color: #fff; margin-right: 5px;" name="person"></ion-icon>
            <b>Iniciar de sesión</b>
          </ion-button>
        </div>
        <div class="ion-padding" style=" margin-bottom: 50px;">
          <ion-button class="login" style="color: black; background-color: #f7f7f7;" (click)="goToRegister()" expand="block" color="default">
            <ion-icon style="color: black; margin-right: 5px;" name="person-add"></ion-icon> 
            <b>Registro</b>
          </ion-button>
        </div>
      </div>
    </ion-card>
</ion-content>