.login {
    border-radius: 10px; 
    box-shadow: 1px 2px #54545440;
}

.text-bold {
    font-weight: bold;
}

ion-toolbar ion-title {
    color: #fff;
    --color: #fff;
}

ion-toolbar ion-menu-button, ion-toolbar ion-back-button {
    color: #fff;
    --color: #fff;
}

.error-message {
    color: #f04141de;
    padding: 5px 10px 5px 10px;
}

.ion-color-primary {
    --ion-color-base: var(--ion-color-primary, #332465) !important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb, 56, 128, 255) !important;
    --ion-color-contrast: var(--ion-color-primary-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-primary-shade, #332465) !important;
    --ion-color-tint: var(--ion-color-primary-tint, #332465) !important;
}